*.o

.stgit*
.together/*
.deps
*.gcov
*~
\#*#
.#*
*.orig
*.rej
*.log
*.dmp
*.s
*.so
Doc/html/*
output
perf.data
perf.data.old
rasp/data
.#*
callgrind.out.*
tmp/
.gdbinit
test/data/private
/.project
/.cproject
.DS_Store
massif.out.*
build/local-config.mk

/Compile-XCSoar.cmd
/git_update.cmd
/Data/Input/default - Kopie.xci
/.august
/_tmp
/my_patch

*.pyc
*.pyo
*.bak
.*.swp
.idea
/3rd_party/meson.build
/build/cmake/meson.build
/Data/meson.build
/meson.build
/meson_from_cmake.build
/po/meson.build
/src/Airspace/meson.build
/src/Atmosphere/meson.build
/src/Audio/meson.build
/src/Blackboard/meson.build
/src/Cloud/meson.build
/src/co/meson.build
/src/Computer/meson.build
/src/CrossSection/meson.build
/src/Device/meson.build
/src/Dialogs/meson.build
/src/Engine/meson.build
/src/event/meson.build
/src/FLARM/meson.build
/src/Form/meson.build
/src/Formatter/meson.build
/src/Gauge/meson.build
/src/Geo/meson.build
/src/Hardware/meson.build
/src/IGC/meson.build
/src/InfoBoxes/meson.build
/src/Input/meson.build
/src/io/meson.build
/src/Job/meson.build
/src/json/meson.build
/src/json/meson_from_cmake.build
/src/Language/meson.build
/src/Logger/meson.build
/src/Look/meson.build
/src/lua/meson.build
/src/MapWindow/meson.build
/src/Markers/meson.build
/src/Math/meson.build
/src/Menu/meson.build
/src/meson.build
/src/Monitor/meson.build
/src/net/meson.build
/src/NMEA/meson.build
/src/Operation/meson.build
/src/Plane/meson.build
/src/Polar/meson.build
/src/Profile/meson.build
/src/Projection/meson.build
/src/Renderer/meson.build
/src/Replay/meson.build
/src/Repository/meson.build
/src/Screen/meson.build
/src/system/meson.build
/src/Task/meson.build
/src/TeamCode/meson.build
/src/Terrain/jasper/meson.build
/src/Terrain/meson.build
/src/thread/meson.build
/src/time/meson.build
/src/Topography/meson.build
/src/Tracking/meson.build
/src/ui/meson.build
/src/UIUtil/meson.build
/src/Units/meson.build
/src/util/meson.build
/src/Waypoint/meson.build
/src/Weather/meson.build
/src/Widget/meson.build
/src/XML/meson.build
/src/zzip/meson.build
/test/src/meson.build
/tools/meson.build
/3rd_party/3rd_party.cmake
/3rd_party/boost.cmake
/3rd_party/c-ares.cmake
/3rd_party/curl.cmake
/3rd_party/jasper.cmake
/3rd_party/libpng.cmake
/3rd_party/lua.cmake
/3rd_party/mapserver.cmake
/3rd_party/xmlparser.cmake
/3rd_party/zlib.cmake
/3rd_party/zzip.cmake
/build/cmake/xcsoar.cmake
/CMakeSource.cmake
/Rework.cmake
/src/Airspace/CMakeSource.cmake
/src/Atmosphere/CMakeSource.cmake
/src/Audio/CMakeSource.cmake
/src/Blackboard/CMakeSource.cmake
/src/Cloud/CMakeSource.cmake
/src/CMakeSource.cmake
/src/co/CMakeSource.cmake
/src/Computer/CMakeSource.cmake
/src/contest/CMakeSource.cmake
/src/CrossSection/CMakeSource.cmake
/src/Device/CMakeSource.cmake
/src/Dialogs/CMakeSource.cmake
/src/Engine/CMakeSource.cmake
/src/event/CMakeSource.cmake
/src/FLARM/CMakeSource.cmake
/src/Form/CMakeSource.cmake
/src/Formatter/CMakeSource.cmake
/src/Gauge/CMakeSource.cmake
/src/Geo/CMakeSource.cmake
/src/Hardware/CMakeSource.cmake
/src/IGC/CMakeSource.cmake
/src/InfoBoxes/CMakeSource.cmake
/src/Input/CMakeSource.cmake
/src/io/CMakeSource.cmake
/src/Job/CMakeSource.cmake
/src/json/CMakeSource.cmake
/src/Language/CMakeSource.cmake
/src/Logger/CMakeSource.cmake
/src/Look/CMakeSource.cmake
/src/lua/CMakeSource.cmake
/src/MapWindow/CMakeSource.cmake
/src/Markers/CMakeSource.cmake
/src/Math/CMakeSource.cmake
/src/Menu/CMakeSource.cmake
/src/Monitor/CMakeSource.cmake
/src/net/CMakeSource.cmake
/src/NMEA/CMakeSource.cmake
/src/Operation/CMakeSource.cmake
/src/Plane/CMakeSource.cmake
/src/Polar/CMakeSource.cmake
/src/Profile/CMakeSource.cmake
/src/Projection/CMakeSource.cmake
/src/Renderer/CMakeSource.cmake
/src/Replay/CMakeSource.cmake
/src/Repository/CMakeSource.cmake
/src/Screen/CMakeSource.cmake
/src/system/CMakeSource.cmake
/src/Task/CMakeSource.cmake
/src/TeamCode/CMakeSource.cmake
/src/Terrain/CMakeSource.cmake
/src/Terrain/jasper/CMakeSource.cmake
/src/thread/CMakeSource.cmake
/src/time/CMakeSource.cmake
/src/Topography/CMakeSource.cmake
/src/Tracking/CMakeSource.cmake
/src/ui/CMakeSource.cmake
/src/UIUtil/CMakeSource.cmake
/src/Units/CMakeSource.cmake
/src/util/CMakeSource.cmake
/src/Waypoint/CMakeSource.cmake
/src/Weather/CMakeSource.cmake
/src/Widget/CMakeSource.cmake
/src/XML/CMakeSource.cmake
/src/zzip/CMakeSource.cmake
/test/src/CMakeSource.cmake
/CMake2Meson.cmd
/src/Terrain/jpc_rtc.cpp
/3rd_party/boost/CMakeLists.txt
/3rd_party/CMakeLists.txt
/build/cmake/CMakeLists.txt
/CMakeLists.txt
/Data/CMakeLists.txt
/meson_options.txt
/po/CMakeLists.txt
/src/Airspace/CMakeLists.txt
/src/Atmosphere/CMakeLists.txt
/src/Audio/CMakeLists.txt
/src/Blackboard/CMakeLists.txt
/src/Cloud/CMakeLists.txt
/src/CMakeLists.txt
/src/co/CMakeLists.txt
/src/Computer/CMakeLists.txt
/src/contest/CMakeLists.txt
/src/CrossSection/CMakeLists.txt
/src/Device/CMakeLists.txt
/src/Dialogs/CMakeLists.txt
/src/Engine/CMakeLists.txt
/src/event/CMakeLists.txt
/src/FLARM/CMakeLists.txt
/src/Form/CMakeLists.txt
/src/Formatter/CMakeLists.txt
/src/Gauge/CMakeLists.txt
/src/Geo/CMakeLists.txt
/src/Hardware/CMakeLists.txt
/src/IGC/CMakeLists.txt
/src/InfoBoxes/CMakeLists.txt
/src/Input/CMakeLists.txt
/src/io/CMakeLists.txt
/src/Job/CMakeLists.txt
/src/json/CMakeLists.txt
/src/Language/CMakeLists.txt
/src/Logger/CMakeLists.txt
/src/Look/CMakeLists.txt
/src/lua/CMakeLists.txt
/src/MapWindow/CMakeLists.txt
/src/Markers/CMakeLists.txt
/src/Math/CMakeLists.txt
/src/Menu/CMakeLists.txt
/src/Monitor/CMakeLists.txt
/src/net/CMakeLists.txt
/src/NMEA/CMakeLists.txt
/src/Operation/CMakeLists.txt
/src/Plane/CMakeLists.txt
/src/Polar/CMakeLists.txt
/src/Profile/CMakeLists.txt
/src/Projection/CMakeLists.txt
/src/Renderer/CMakeLists.txt
/src/Replay/CMakeLists.txt
/src/Repository/CMakeLists.txt
/src/Screen/CMakeLists.txt
/src/system/CMakeLists.txt
/src/Task/CMakeLists.txt
/src/TeamCode/CMakeLists.txt
/src/Terrain/CMakeLists.txt
/src/Terrain/jasper/CMakeLists.txt
/src/thread/CMakeLists.txt
/src/time/CMakeLists.txt
/src/Topography/CMakeLists.txt
/src/Tracking/CMakeLists.txt
/src/ui/CMakeLists.txt
/src/UIUtil/CMakeLists.txt
/src/Units/CMakeLists.txt
/src/util/CMakeLists.txt
/src/Waypoint/CMakeLists.txt
/src/Weather/CMakeLists.txt
/src/Widget/CMakeLists.txt
/src/XML/CMakeLists.txt
/src/zzip/CMakeLists.txt
/test/CMakeLists.txt
/test/src/CMakeLists.txt
/tools/CMakeLists.txt
/_build
